<img src={{@imageUrl}} alt="artwork number {{ @imageId }} - {{ @title }}" />
<div class="image-details">
  <div class="artwork-title">
    <span class="header">Title:</span>
    {{ @title }}
  </div>
  <div class="artwork-artist">
    <span class="header">Artist:</span>
    {{ @artist }}
  </div>
  <div class="artwork-date">
    <span class="header">Date:</span>
    {{ @date }}
  </div>
  <div class="artwork-description">
    <span class="header">Description:</span>
    {{{ @description }}}
  </div>
</div>
<div class="buttons-container">
  <button type="button" {{on 'click' @goBackToGallery}}>Return to Gallery</button>
  {{#if this.isFavourite}}
    <button class="remove" type="button" {{on 'click' this.removeFavourite}}>Remove from Favourites</button>
  {{else}}
    <button type="button" {{on 'click' this.addFavourite}}>Add to Favourites</button>
  {{/if}}
</div>

