<img src={{@imageUrl}} />
<div class="image-details">
  <div class="artwork-title">
    <span class="header">Title:</span>
    {{ @title }}
  </div>
  <div class="artwork-artist">
    <span class="header">Artist:</span>
    {{ @artist }}
  </div>
  <div class="artwork-date">
    <span class="header">Date:</span>
    {{ @date }}
  </div>
  <div class="artwork-description">
    <span class="header">Description:</span>
    {{{ @description }}}
  </div>
</div>

