<div class="page-nav-container">
  {{#let (modifier 'on' 'click' @goToPrevPage) as |handleClick|}}
    <button disabled={{if @goToPrevPage false true}} type="button" {{ (if @goToPrevPage handleClick) }}>
      <span class="material-icons">chevron_left</span>
    </button>
  {{/let}}
  <span class="status-text">{{@pageNumber}} / {{@totalPageCount}}</span>
  {{#let (modifier 'on' 'click' @goToNextPage) as |handleClick|}}
    <button disabled={{if @goToNextPage false true}} type="button" {{ (if @goToNextPage handleClick) }}>
      <span class="material-icons">chevron_right</span>
    </button>
  {{/let}}
</div>
