{{page-title "Favourites"}}


<div class="content-area">
  <div class="favourites-container">
    <h1>Favourites</h1>
    <h2>Total items: {{ @model.totalCount }}</h2>
    {{#each-in @model.categories as |categoryName categoryItems| }}
      <h3 class="category-header">{{ categoryName }}</h3>
      <h4>Total items: {{ categoryItems.length }}</h4>
      <div class="category-items">
        {{#each categoryItems as |artwork| }}
          <img src="{{ artwork.thumbnailImageUrl }}" />
        {{/each}}
      </div>
    {{/each-in}}
  </div>
</div>
