{{page-title "Gallery"}}

<div class="content-area">
  <div class="image-grid-container">
    <ImageGrid
      @rows={{@model.gridRows}}
      @columns={{@model.gridColumns}}
      @imageUrls={{@model.imageUrls}}
    />
    <PageNav
      @pageNumber={{@model.currentPageNumber}}
      @totalPageCount={{@model.totalPageCount}}
      @prevPageAvailable={{@model.prevPageAvailable}}
      @nextPageAvailable={{@model.nextPageAvailable}}
    />
  </div>
</div>