{{page-title "Gallery"}}

<div class="content-area">
  <div class="image-grid-container">
    {{#if @model.error}}
      <div class="gallery-error">
        An error occurred while retrieving the gallery. Please try reloading the page.
      </div>
    {{else}}
      <ImageGrid
        @rows={{@model.gridDimensions.rows}}
        @columns={{@model.gridDimensions.columns}}
        @imagesInfo={{@model.imagesInfo}}
      />
      <PageNav
        @pageNumber={{@model.paginationData.currentPageNumber}}
        @totalPageCount={{@model.paginationData.totalPageCount}}
        @goToPrevPage={{@model.goToPrevPage}}
        @goToNextPage={{@model.goToNextPage}}
      />
      <div class="gallery-nav-buttons">
        <button class="button" type="button" {{on 'click' @model.goToFavourites}}>See All <span class="material-icons">thumb_up</span></button>
        <button class="button" type="button" {{on 'click' @model.goToHistory}}>See All <span class="material-icons">visibility</span></button>
      </div>
    {{/if}}
  </div>
</div>
