{{page-title "Gallery"}}

<div class="content-area">
  <div class="image-grid-container">
    <ImageGrid
      @rows={{@model.gridDimensions.rows}}
      @columns={{@model.gridDimensions.columns}}
      @imageUrls={{@model.imageUrls}}
    />
    <PageNav
      @pageNumber={{@model.paginationData.currentPageNumber}}
      @totalPageCount={{@model.paginationData.totalPageCount}}
      @goToPrevPage={{@model.goToPrevPage}}
      @goToNextPage={{@model.goToNextPage}}
    />
  </div>
</div>
